<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Narmul General Business PLC</title>
    <link href="/styles/output.css" rel="stylesheet" />
    <link href="/styles/main.css" rel="stylesheet" />
    <link href="/styles/toast.css" rel="stylesheet" />
    <link rel="stylesheet" href="/aos.css" />
  </head>
  <body class="min-h-screen">
    <!-- toast container -->
    <div class="toast-container"></div>

    <!-- header -->
    <%- include('../partials/header') %>

    <!-- body here -->
    <main><%- body %></main>

    <!-- footer section -->
    <%- include('../partials/footer') %>

    <!--JavaScript -->
    <script src="/aos.js"></script>
    <script src="/script/toast.js"></script>
    <script src="/script/main.js"></script>

    <!-- Initialize AOS -->
  </body>
</html>
